body{
    margin: 0px;
}
.contenedor {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
.barralateral {
    border: 1px solid #BEC1BB;
    flex-grow: 1;
}
.contenido {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E8EBE4;
}
.perfil {
    border: 1px solid #BEC1BB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.fotonombre{
    display: flex;
    padding: 5px;
    align-items: center;
}
.fotoperfil{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding: 5px;
}
.nombre{
    font-size:larger;
    font-weight: 200;
    margin: 0px;
}
.estado{
    font-size: small;
    margin: 0px;
    color:#BEC1BB;
}
.textocontenido{
    text-align: center;
}
.iconocontenido{
    width: 300px;
}
.iconos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 60px;
    padding: 5px;
}
.boton{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #BEC1BB;
    padding-top: 40px;
    padding-bottom: 40px;

}
.contacto{
    border: 1px solid #BEC1BB;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}
.fotoperfil2{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    padding: 5px;
}
.estado2{
    font-size:medium;
    margin: 0px;
    
}